<!--pipes-->
<div>
  {{title}}
</div>
<div>
  {{title | lowercase}}
</div>
<div>
  {{title | uppercase}}
</div>
<div>
  {{title | json}}
</div>
<div>
  {{title | titlecase}}
</div>
<div>
  {{num1 | number: '1.1-5'}}
</div>
<div>
{{134.433 | number: '.0-0'}}
</div>
<div>
  {{datee | date: 'yyy-MM-dd-hh': 'GMT+2'}}
</div>

<hr>
<br>
<hr>
<!--our pipes-->
<div>
  {{ title | myMore : 'ddf' : 'dferret'}}
</div>

<hr>
<br>
<hr>
<br>

<!--derectives-->
<router-outlet></router-outlet>
<app-more></app-more>


<!--atributive derectives-->

<div *ngFor="let u of users">
  <div *ngIf="u.id === u.id%8">
  {{u.id}} - {{u.name}}
  </div>
</div>

<hr>


<div *ngFor="let u of users">
  <div [ngSwitch]="u.username">
    <p *ngSwitchCase="'Bret'">
           good is user ==> {{u.id}} -- {{u.username}}
    </p>
    <p *ngSwitchCase="'Samantha'">
      good is user ==> {{u.id}} -- {{u.username}}
    </p>
    <p *ngSwitchCase="'Zaraza'">
      good is user ==> {{u.id}} -- {{u.username}}
    </p>
  </div>
</div>

<br>
<br>
<br>
<hr>
<br>
<br>

<div *ngFor="let u of users" [ngStyle]="{backgroundColor: 'blue'}">
  {{u.id}}
</div>
<br>
<div *ngFor="let u of users" [ngStyle]="{color: u.id < 5 ? 'red' : 'yellow'}">
    {{u.id}} - {{u.name}}
</div>
<br>
<div *ngFor="let u of users" [ngClass]="{'trx': u.id > 7, 'ttt': u.id < 2}">
  {{u.id}} - {{u.name}}
</div>

<br>
<br>
<br>
<hr>

<div *ngFor="let u of users">
  <div appBold>
  {{u.username}} --- {{u.name}}
  </div>
</div>
